{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@utils": "./src/utils",
        "@styles": "./src/styles",
        "@pages": "./src/pages",
        "@components": "./src/components",
        "@assets": "./src/assets",
        "@api": "./src/api"
      }
    }]
  ]
}